.error
{
    color:red;
}
.formmargin
{
    margin:70px 0px 70px 0px;
}
.update-image{
    border-radius: 50%;
}
.modal-btn{
    color: white;
}

.profile-image{
    width: 8%;
    height: 1%;
    border: 1px solid red;
    display: inline-block;
    visibility: hidden;
}


.form-control-icons{
    min-height: calc(1.5em + (1rem + 2px));
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.custom-margin
{
    margin-top: 20vh;
}

.marginbox

{
    margin:0px;
    padding: 0px;
}